.container-gallery {
  background-color: #fff;
  margin: 25px;
  padding: 0 2%;
  border-radius: 25px;
  text-align: center;
}
.container-gallery h2 {
  margin-bottom: 25px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 2%;
  margin-top: 50px;
}

.gallery div img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  transition: 0.5s;
  cursor: pointer;
}

.gallery-photos img:hover {
  transition: 0.5s;
  opacity: 85%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6.5%;
  border-bottom: 4px solid #f9131f;
  padding: 25px 0;
  text-align: start;
}
.profile-infos {
  display: flex;
  justify-content: start;
  align-items: center;
}
.profile-buttons {
  display: flex;
  flex-direction: column;
}

.profile-buttons a {
  text-decoration: none;
  color: #000;
}

.profile-buttons span {
  cursor: pointer;
}
.profile-buttons a:hover {
  color: #1f9b44;
  transition: 0.3s;
}
.profile-buttons span:hover {
  color: #f9131f;
  transition: 0.3s;
}
.profile-info h2 {
  margin: 0;
}
.img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #c0373c;
  margin-right: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-real {
  width: 100%;
  background-color: aliceblue;
  border-radius: 50%;
}
.gallery-title {
  text-align: start;
  margin: 50px 6.5%;
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}
.gallery-title h2 {
  margin: 0;
}

.gallery-title svg {
  font-size: 40px;
  color: #f9131f;
  transition: 0.5s;
  cursor: pointer;
}

.gallery-title svg:hover {
  color: #f9131ea9;
  transition: 0.5s;
}

.gallery-photos {
  display: flex;
  flex-direction: column;
}

.btn-delet,
.btn-submit-photo {
  background-color: #f9131f;
  border: none;
  margin: 10px auto;
  padding: 0 5px;
  height: 25px;
  width: 100px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

#photoPost {
  display: none;
}

.submit-photo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.image-URL {
  position: relative;
  width: 100px;
}

input[value="Aguarde..."]{
  background-color: #606060;
  color: #fff;
  border: none;
  margin: 10px auto;
  padding: 0 5px;
  height: 25px;
  width: 100px;
  color: #fff;
  border-radius: 10px;
}