#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;
}

.conteiner-box {
  width: 60%;
  height: 60%;
  background: #fff;
  border-radius: 30px;
  box-shadow: -5px 5px 5px #0000003f;
  display: flex;
  justify-content: center;
}

.information {
  padding: 25px;
  background-color: aquamarine;
  border-radius: 30px 0 0 30px;
  display: flex;
  align-items: center;
}

.login {
  padding: 25px;
  background-color: aqua;
  border-radius: 0 30px 30px 0;
}
