.container-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login-box {
  background-color: #fff;
  display: flex;
  border-radius: 25px;
  box-shadow: -5px 5px 5px #00000033;
  width: 60%;
  height: 60%;
}

.container-box h2,
.login h2 {
  font-size: 2.3em;
}

.information,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  background-image: linear-gradient(to top, #c0373c, #f9131f);
  border-radius: 25px 0 0 25px;
  width: 60%;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  color: var(--primary-text-color);
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: star;
  width: 80%;
}

.information form {
  display: flex;
  flex-direction: column;
  justify-content: star;
  width: 60%;
}
.login div {
  width: 450px;
}
.input-text,
.btn-submit {
  height: 30px;
  border: 0;
  border-bottom: 2px solid #f9131f;
  margin: 15px 0;
  outline: none;
  font-size: 1.1em;
}

.input-text-register {
  height: 30px;
  border: 0;
  border-bottom: 2px solid #fff;
  margin: 15px 0;
  outline: none;
  font-size: 1.1em;
  background-color: #00000000;
  color: #fff;
}
.input-text-register::placeholder {
  color: #fff;
}

.information p {
  max-width: 65%;
}

.btn-submit {
  background-color: #f9131f;
  color: var(--primary-text-color);
  border-radius: 20px;
  height: 35px;
  width: 50%;
  cursor: pointer;
  margin: 15px auto;
}

.btn-submit-secundary {
  background-color: #fff;
  color: #f9131f;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 50%;
  cursor: pointer;
  margin: 15px auto;
}

/*Botão para alternar entre cadastrar e logar*/
.btn-login .information .information-title,
.btn-login .information form,
.btn-login .information p {
  animation: animation-left 1s;
}

.btn-login .login .login-tilte,
.btn-login .login form,
.btn-login .login p {
  animation: animation-right 1s;
}

.btn-cadastro .information .information-title-secundary,
.btn-cadastro .information form,
.btn-cadastro .information p {
  animation: animation-right 1s;
}

.btn-cadastro .login .login-title-secundary,
.btn-cadastro .login form,
.btn-cadastro .login p {
  animation: animation-left 1s;
}

.btn-login .information {
  transition: 1s;
}
.information-title {
  font-size: 2.3em;
}
.information-title-secundary {
  width: 50%;
  font-size: 2.3em;
  margin-bottom: 20px;
}

.login-title-secundary {
  color: #f9131f;
}
.btn-cadastro .information {
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
  transition: 1s;
}

.btn-alternate-login {
  position: fixed;
  top: 48%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-alternate-login svg {
  font-size: 3em;
  color: #f9131f;
}

@keyframes animation-left {
  0% {
    position: relative;
    left: -200px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0;
    opacity: 100%;
  }
}

@keyframes animation-right {
  0% {
    position: relative;
    right: -200px;
    opacity: 0;
  }
  100% {
    position: relative;
    right: 0;
    opacity: 100%;
  }
}
